@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <table>
            <tr>
                <td>
                    <a href='@Url.Content("~/PDF_Folder/ImprovementNotice-ConveyorRoller Guarding.pdf")' target="_blank">
                        ImprovementNotice-ConveyorRoller Guarding.pdf
                    </a>
                </td>
                <td>
                    <a href='@Url.Content("~/PDF_Folder/ImprovementNotice-HealthMonitoring.pdf")' target="_blank">
                        ImprovementNotice-HealthMonitoring.pdf
                    </a>
                </td>
                <td>
                    <a href='@Url.Content("~/PDF_Folder/ImprovementNotice-LOTO.pdf")' target="_blank">
                        ImprovementNotice-LOTO.pdf
                    </a>
                </td>
                <td>
                    <a href='@Url.Content("~/PDF_Folder/ProhibitionNotice-RevingtonsHotel.pdf")' target="_blank">
                        ProhibitionNotice-RevingtonsHotel.pdf
                    </a>
                </td>
            </tr>
        </table>
    </div>

</div>
