@{
    Layout = "_Layout";
}

<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffbf00;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>

<head>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MZM6DB3');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="description" content="WorkSafe is New Zealand’s primary workplace health and safety regulator." />
    <meta name="author" content="WorkSafe New Zealand" />
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7083976/7810172/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style-f962a90.css" media="screen" />


</head>

<h4>Search Notice</h4>
<hr />


<body itemscope itemtype="http://schema.org/WebPage" class="preload home">
    <form asp-controller="WSNotices" asp-action="ShowSearchResults" class="row row-cols-lg-auto g-3 align-items-center">
        <div asp-validation-summary="ModelOnly" class="col-6"></div>
        <div class="col-6" id="AutoComplete">
            <label for="SearchBusiness" class="control-label"></label>
            <input name="Search_Phrase" class="form-control" id="myInput" type="text" placeholder="Search by keyword, company, hazard, notice no." required>

        </div>

        <div class="col-4" id="DropdownLocation" style="display: inline">
            <label for="Chooselocation" class="control-label"></label>
            <select name="Search_Location" class="form-control" id="Location">
                <option value="All" selected="selected">
                    All Locations
                </option>

                <option value="Auckland">
                    Auckland
                </option>

                <option value="Wellington">
                    Wellington
                </option>

                <option value="Christchurch">
                    Christchurch
                </option>

                <option value="Hamilton">
                    Hamilton
                </option>

                <option value="Tauranga">
                    Tauranga
                </option>
            </select>
        </div>

        <div class="switch block" style="display: inline">
            <label class="switch">
                Search Buisness
                <input type="checkbox" name="notice_Picker" id="notice_Picker" value="true">
                <span class="slider round"></span>
                Search Notice
            </label>
        </div>

        <div class="col-4" id="DropdownLocation" style="display: inline">
            <label for="Search_Industry" class="control-label"></label>
            <select name="Search_Industry" class="form-control" id="Industry">
                <option value="Any" selected="selected">
                    All Industrys
                </option>

                <option value="Administration">
                    Administration and support services
                </option>

                <option value="Agriculture">
                    Agriculture
                </option>

                <option value="Arts">
                    Arts and recreation
                </option>

                <option value="Consumer">
                    Consumer
                </option>

                <option value="Construction">
                    Construction
                </option>

                <option value="Education">
                    Education and training
                </option>

                <option value="Energy">
                    Energy
                </option>

                <option value="IT">
                    IT
                </option>
            </select>
        </div>

        <!--Remove Search Btn
    <div class="col-12" id="GoButton">
        <button type="submit" name="action_results" value="Go" class="action search-form__submit" id="header-search-form_action_results">
            <svg class="search-form__submit-icon" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
                <g stroke="currentColor" stroke-width="2.158" fill="none" fill-rule="evenodd"><path d="M13.6 21a8 8 0 1 0 0-16 8 8 0 0 0 0 16z"></path><path d="M19.6 19l5 5" stroke-linecap="round"></path></g>
            </svg><span class="visuallyhidden">Submit Search</span>
        </button>
    </div>-->

        <div class="col-2" id="GoBtn" style="display: inline">

            <button type="submit" name="action_results" value="Search" class="action search-form__submit" id="search-page-form_action_results">
                <svg class="menu-button__icon" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
                    <g stroke="#1A1919" stroke-width="2.158" fill="none" fill-rule="evenodd">
                        <path d="M13.6 21a8 8 0 1 0 0-16 8 8 0 0 0 0 16z"></path>
                        <path d="M19.6 19l5 5" stroke-linecap="round"></path>
                    </g>
                </svg>
            </button>

            <input type="submit" value="Search" class="btn btn-primary" />
        </div>

    </form>
    <div><br /></div>

    <div>
        <div class="row" id="InstructionGrid">
            <div class="col-sm-4">Practical advice and case studies for meeting Worksafe guidelines </div>
            <div class="col-sm-4">What this register is used for? WHo does it benefit firsthand?</div>
            <div class="col-sm-4">.col-sm-4</div>
        </div>
    </div>

    <div><br /></div>
    <div>
        <h2>Find topic by industry</h2>
        <div class="row" id="FindTopicGrid">
            <div class="col-sm-4">Adventure activities</div>
            <div class="col-sm-4">Agriculture</div>
            <div class="col-sm-4">Building and Construction</div>
            <div class="col-sm-4">.col-sm-4</div>
            <div class="col-sm-4">.col-sm-4</div>
            <div class="col-sm-4">.col-sm-4</div>
            <div class="col-sm-4">.col-sm-4</div>
            <div class="col-sm-4">.col-sm-4</div>
            <div class="col-sm-4">.col-sm-4</div>
        </div>
    </div>

    <div><br /></div>
    <div>
        <h2>Recent News</h2>
        <div class="row" id="NewsGrid">
            <div class="col-sm-4">Picture1 </div>
            <div class="col-sm-4">Picture1</div>
            <div class="col-sm-4">Picture1</div>
        </div>
    </div>


    <!---Remove moving box
    <div>
        <div id="myBtnContainer">
            <button class="btn active" onclick="filterSelection('all')"> Show all</button>
            <button class="btn" onclick="filterSelection('Topic')"> Topic</button>
            <button class="btn" onclick="filterSelection('Industry')"> Industry</button>
        </div>

        <div class="TopicandIndustryContainer">
            <div class="filterDiv Topic">Air quality</div>
            <div class="filterDiv Topic">Building restraint</div>
            <div class="filterDiv Topic">Amusement devices</div>
            <div class="filterDiv Topic">Asbestos</div>
            <div class="filterDiv Topic">Biological</div>
            <div class="filterDiv Topic">Boilers</div>
            <div class="filterDiv Topic">Bullying</div>
            <div class="filterDiv Industry">Administration and support services</div>
            <div class="filterDiv Industry">Agriculture</div>
            <div class="filterDiv Industry">Arts and recreation</div>
            <div class="filterDiv Industry">Consumer</div>
            <div class="filterDiv Industry">Education and training</div>
            <div class="filterDiv Industry">Energy</div>
        </div>

        <a asp-action="Index">Back to List</a>
    </div>
    --->
</body>


