@model WorkSafeWebSite.Models.WSNotice

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>WSNotice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="business_Name" class="control-label"></label>
                <input asp-for="business_Name" class="form-control" />
                <span asp-validation-for="business_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="business_Number" class="control-label"></label>
                <input asp-for="business_Number" class="form-control" />
                <span asp-validation-for="business_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location" class="control-label"></label>
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="industry" class="control-label"></label>
                <input asp-for="industry" class="form-control" />
                <span asp-validation-for="industry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_Issued" class="control-label"></label>
                <input asp-for="date_Issued" class="form-control" />
                <span asp-validation-for="date_Issued" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="issued_To" class="control-label"></label>
                <input asp-for="issued_To" class="form-control" />
                <span asp-validation-for="issued_To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="notice_Type" class="control-label"></label>
                <input asp-for="notice_Type" class="form-control" />
                <span asp-validation-for="notice_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="topic" class="control-label"></label>
                <input asp-for="topic" class="form-control" />
                <span asp-validation-for="topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pdf_URL" class="control-label"></label>
                <input asp-for="pdf_URL" class="form-control" />
                <span asp-validation-for="pdf_URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
